BODY {
	SCROLLBAR-FACE-COLOR: #cfced2; FONT-SIZE: 10px; SCROLLBAR-HIGHLIGHT-COLOR: #f6f6f7; SCROLLBAR-SHADOW-COLOR: #cfced2; COLOR: #336699; SCROLLBAR-3DLIGHT-COLOR: #b3b3b3; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #e5e5e5; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #919194; BACKGROUND-COLOR: #eff8ff
}
INPUT {
	BORDER-RIGHT: #0000cc 1px inset; PADDING-RIGHT: 1px; BORDER-TOP: #0000cc 1px inset; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #0000cc 1px inset; COLOR: #0033ff; PADDING-TOP: 1px; BORDER-BOTTOM: #0000cc 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
CFINPUT {
	BORDER-RIGHT: #0000cc 1px inset; PADDING-RIGHT: 1px; BORDER-TOP: #0000cc 1px inset; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #0000cc 1px inset; COLOR: #0033ff; PADDING-TOP: 1px; BORDER-BOTTOM: #0000cc 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
TEXTAREA {
	BORDER-RIGHT: #0000cc 1px inset; PADDING-RIGHT: 1px; BORDER-TOP: #0000cc 1px inset; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #0000cc 1px inset; COLOR: #0033ff; PADDING-TOP: 1px; BORDER-BOTTOM: #0000cc 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
SELECT {
	BORDER-RIGHT: #0000cc 1px inset; PADDING-RIGHT: 1px; BORDER-TOP: #0000cc 1px inset; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #0000cc 1px inset; COLOR: #0033ff; PADDING-TOP: 1px; BORDER-BOTTOM: #0000cc 1px inset; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
.tankFree {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, "Times New Roman"; BACKGROUND-COLOR: #009933
}
.tankCleaning {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, "Times New Roman"; BACKGROUND-COLOR: #0066ff
}
.otherTankFree {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, "Times New Roman"; BACKGROUND-COLOR: #ffff99
}
.lockTank {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, "Times New Roman"; BACKGROUND-COLOR: #9966cc
}
H1 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bolder; FONT-SIZE: 16px; TEXT-TRANSFORM: capitalize; BORDER-LEFT: medium none; COLOR: #0033ff; LINE-HEIGHT: 20px; BORDER-BOTTOM: medium none; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-SIZE: 12px; COLOR: #0066ff; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-SIZE: 12px; COLOR: red; LINE-HEIGHT: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	BORDER-RIGHT: #eff8ff; BORDER-TOP: #eff8ff; FONT-SIZE: 11px; BORDER-LEFT: #eff8ff; COLOR: #000000; LINE-HEIGHT: 17px; BORDER-BOTTOM: #eff8ff; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 2px; BACKGROUND-COLOR: #eff8ff; TEXT-ALIGN: center
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-TRANSFORM: capitalize; COLOR: #996600; LINE-HEIGHT: normal; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bolder; FONT-SIZE: 25px; TEXT-TRANSFORM: capitalize; BORDER-LEFT: medium none; COLOR: #0033ff; LINE-HEIGHT: 20px; BORDER-BOTTOM: medium none; FONT-STYLE: oblique; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	BORDER-RIGHT: #4b4b95; BORDER-TOP: #4b4b95; FONT-SIZE: 12px; BORDER-LEFT: #4b4b95; COLOR: #ffffff; LINE-HEIGHT: 14px; BORDER-BOTTOM: #4b4b95; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #4b4b95; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 10px; VERTICAL-ALIGN: text-top; COLOR: #000066; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.data {
	BORDER-RIGHT: #666666 double; BORDER-TOP: #666666 double; FONT-SIZE: 10px; BORDER-LEFT: #666666 double; COLOR: #000000; BORDER-BOTTOM: #666666 double; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ccccff
}
A {
	COLOR: #3366cc; TEXT-DECORATION: none
}
.title {
	FONT-SIZE: 24px; COLOR: #dcdcdc; LINE-HEIGHT: 30px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #006666
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #006666; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.header {
	FONT-SIZE: 24px; COLOR: #dcdcdc; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #99FF99
}
.nav {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.navLink {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dedeca
}
.sidebar {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 18px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.sidebarHeader {
	FONT-SIZE: 16px; COLOR: #ffffff; LINE-HEIGHT: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #339999
}
.sidebarFooter {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.footer {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccccc
}
.legal {
	FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.box1 {
	BORDER-RIGHT: #333333 ridge; BORDER-TOP: #cccccc ridge; BORDER-LEFT: #cccccc ridge; BORDER-BOTTOM: #333333 ridge
}
.promo {
	COLOR: #000033; FONT-FAMILY: "Times New Roman", Times, serif
}
.titlebar {
	FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: "Times New Roman", Times, serif; BACKGROUND-COLOR: #336699
}
.dingbat {
	FONT-WEIGHT: bolder; FONT-SIZE: medium; COLOR: #006666; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #99cc99
}
A:hover {
	TEXT-DECORATION: underline
}
INPUT.big {
	WIDTH: 100px
}
INPUT.small {
	WIDTH: 50px
}
LI {
	FONT-SIZE: 9px; COLOR: #0033ff
}
.menutitle {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 150px; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma, Arial, "Times New Roman"; BACKGROUND-COLOR: #999999; TEXT-ALIGN: center
}
.submenu {
	LIST-STYLE-IMAGE: url(../foldoutmenu2_arrow.gif); MARGIN-BOTTOM: 0.5em; CURSOR: hand
}
