body {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #336699;
	scrollbar-face-color:#CFCED2;
	scrollbar-shadow-color:#CFCED2;
	scrollbar-highlight-color:#F6F6F7;
	scrollbar-3dlight-color:#B3B3B3;
	scrollbar-darkshadow-color:#919194;
	scrollbar-track-color:#E5E5E5;
	scrollbar-arrow-color:#000000;
	background-color: #FFFFFF;
}

INPUT, CFINPUT, TEXTAREA, SELECT {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	padding: 1px;
	font-size: 11px;
	color: #0033FF;
	background-color: #FFFFFF;
	border: 0px inset #FFFFFF;
}

.button{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	padding: 1px;
	font-size: 11px;
	color: #0033FF;
	background-color: #FFFFFF;
	border: 1px inset #0000CC;
}

.tankFree{
	background-color: #009933;
	font-family: Tahoma, Arial, "Times New Roman";
	font-size: 10px;
	color: #FFFFFF;
		
}

.tankCleaning{
	font-family: Tahoma, Arial, "Times New Roman";
	font-size: 10px;
	color: #000000;
	background-color: #0066FF;
}
.otherTankFree{
	font-family: Tahoma, Arial, "Times New Roman";
	font-size: 10px;
	color: #000000;
	background-color: #FFFF99;
}

.lockTank{
	font-family: Tahoma, Arial, "Times New Roman";
	font-size: 10px;
	color: #000000;
	background-color: #9966CC;
}

h1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #0033FF;
	font-style: italic;
	font-weight: bolder;
	text-transform: capitalize;
	border: none;
	display: marker;
	
}

h2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0066FF;
	font-style: italic;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: red;
}

h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFF99;
	color: #003399;
	border: ridge #FFFFFF;
	line-height: 17px;
	font-style: normal; letter-spacing: 2px;     
	text-align: center;

}


h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	text-transform: capitalize;
	color: #996600;
	
}

h6{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	line-height: 20px;
	color: #0033FF;
	font-style:oblique;
	font-weight: bolder;
	text-transform: capitalize;
	border: none;
	display: marker;
	
}

th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFF99;
	color: #003399;
	border: ridge #FFFFFF;
	line-height: 14px;
	font-style: normal;
	text-align: center;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000033;
	vertical-align: text-top;
	line-height: 16px;

}

.fieldset {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #000033;
	color: #000000;
	background-color: #dddddd;
    -moz-border-radius:8pt 8pt;
	filter: alpha(opacity=60);
	-moz-opacity: 0.5;
}
.footer1 {

}

.a2 {
	font-family:  Verdana,Helvetica,Arial, sans-serif;
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
}
.a3 {
	font-family:  Verdana,Helvetica,Arial, sans-serif;
	font-size: 10px;
	color: #6d6d6d;
	text-decoration: none;
	font-style: italic;
}
.title {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
	line-height: 30px;
  background-color: #006666;
	color: #DCDCDC;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
  color: #006666;
}

.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	background-color: #006666;
  color: #DCDCDC;
}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
  font-weight: bold;
	background-color: #CCCCCC;
}

.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #DEDECA;
}

.sidebar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	padding: 3px;
	background-color: #FFFFFF;
}

.sidebarHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	background-color: #339999;
}

.sidebarFooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #CCCCCC;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #CCCCCC;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
	border-width: medium;
  border-style: ridge;
}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
  background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CC99;
  color: #006666; 
	font-weight: bolder;
	font-size: medium;
}

a:hover {
	text-decoration: underline;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}


li{
	font-size: 9px;
	color: #0033FF;
}

.menutitle{

	margin-bottom: 5px;
	background-color:#999999;
	color:#FFFFFF;
	width:150px;
	padding:2px;
	text-align:center;
	font-weight:bold;
	font-size: 11px;
	border:1px solid #FFFFFF;
	font-family: Tahoma, Arial, "Times New Roman";
}

.submenu{
	cursor:hand;
	margin-bottom: 0.5em;
	list-style-image:  url(../foldoutmenu2_arrow.gif);
}

.labeltxt{
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}