@charset "utf-8";
/* CSS Document */
.containerDiv{
	margin-left:50px;
	width:100%;
}
.titleDiv{
	float:left;
	margin-top:16px;
	clear:both;
	font-family:Verdana, Geneva, sans-serif;
	font-size:28px;
	color:#454E59;
}
.chartGroupDiv{
	float:left;
	clear:both;
}
.chartDiv{
	display:inline-block;
	width:500px;
	margin-top:25px;
	margin-right:25px;
	-moz-box-shadow:0px 3px 12px #CCCCCC;
    -webkit-box-shadow:0px 3px 12px #CCCCCC;
    box-shadow:0px 3px 12px #CCCCCC;
	behavior: url(/css/pie/PIE.htc);
}
.chartTitleDiv{
	float:left;
	width:500px;
	height:20px;
	padding-top:13px;
	padding-bottom:9px;
	text-align:center;
	background-color:#CF5D5D;
	font-family:"Franklin Gothic Demi";
	font-size:20px;
	color:#FFFFFF;
	word-spacing:0.05em;
}
.chartContentDiv{
	float:left;
	width:500px;
	height:250px;
}
.infoBoardDiv{
	float:left;	
	width:100%;
	min-width:460px;
	max-width:985px;
	clear:both;
	margin-top:28px;
	margin-right:25px;
	margin-bottom:25px;
	padding-left:20px;
	padding-right:20px;
	border:1px solid #CCCCCC;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	behavior: url(/css/pie/PIE.htc);
}
.loggingHistoryDiv{
	float:left;	
	width:100%;
	min-width:460px;
	max-width:1025px;
	clear:both;
	margin-right:25px;
	margin-bottom:25px;
}
.infoBoardTitleDiv{
	float:left;
	width:100%;
	padding-top:16px;
	padding-bottom:13px;
	font-family:"Franklin Gothic Demi";
	font-size:15px;
	word-spacing:0.05em;
	color:#4D4D4D;
}
.infoBoardContentDiv{
	float:left;
	width:100%;
}
.infoDiv{
	display:inline-block;
	width:100%;
	margin-bottom:16px;
	border-top:2px solid #CCCCCC;
}
.infoTitleDiv{
	position:relative;
	float:left;
	width:100%;
	height:17px;
	padding-top:4px;
	padding-bottom:4px;
	font-family:"Franklin Gothic Medium";
	font-size:13px;
	word-spacing:0.025em;
	color:#666666;	
}
.infoDateDiv{
	position:absolute;
	top:8px;
	right:0px;
	font-style:italic;
	color:#808080;
}
.infoContentDiv{
	float:left;
	width:100%;
	padding-top:8px;
	border-top:1px solid #CCCCCC;
	font-family:"Franklin Gothic Book";
	font-size:12px;
	color:#808080;
}
.dataTables_filter{
	float:left;
	text-align:left;
}
.DataTables_sort_wrapper span{ 
	float: right; 
}
.textAlignCenter{
	text-align:center;
}
#titleDiv{
	font-family:"Franklin Gothic Demi";
	font-size:15px;
	word-spacing:0.05em;
	color:#4D4D4D;
	padding-top:4px;
	padding-bottom:4px;
}
.dataTables_filter{
	font-family:"Franklin Gothic Medium";
	font-size:13px;
	word-spacing:0.025em;
	color:#666666;
}
.dataTables_filter input{
	font-family:"Franklin Gothic Book";
	font-size:12px;
	color:#808080;
}
.dataTables_paginate{
	font-family:"Franklin Gothic Medium";
	font-size:13px;
	word-spacing:0.025em;
	color:#666666 !important;
}
.ui-state-default{
	font-family:"Franklin Gothic Medium";
	font-size:13px;
	word-spacing:0.025em;
	color:#666666;
	background:#F6F6F6;
}
#loggingTable tbody td{
	font-family:"Franklin Gothic Book";
	font-size:12px;
	color:#808080;
}
tr.odd td.sorting_1{
	background-color:#E5E5E5;
}
tr.even td.sorting_1{
	background-color:#F5F5F5;
}

tr.odd td.sorting_2{
	background-color:#E5E5E5;
}
tr.even td.sorting_2{
	background-color:#F5F5F5;
}

tr.odd td.sorting_3{
	background-color:#E5E5E5;
}
tr.even td.sorting_3{
	background-color:#F5F5F5;
}

tr.odd td.sorting_4{
	background-color:#E5E5E5;
}
tr.even td.sorting_4{
	background-color:#F5F5F5;
}
.top, .bottom{
	background-color:#F6F6F6;
	border:1px solid #CCCCCC;
}
.top{
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	behavior:url(/css/pie/PIE.htc);
}
.bottom{
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
	behavior:url(/css/pie/PIE.htc);
}
tbody tr:hover td{
	background-color:#D5D5D5 !important;
}
.paging_full_numbers{
	width:400px !important;
}