@charset "utf-8";
/* CSS Document */
.dataTables_wrapper thead th{
	text-transform:uppercase;	
}
.page-header h2{
	font-family:Verdana, Geneva, sans-serif;
	font-size:2.3em;
	color:#454E59;
}
.btn-link,.btn-link:link,.btn-link:visited{
	text-decoration:none;
	color:#666666;
}
.btn-link:hover,.btn-link:active {
	text-decoration:none;
	color:#ff6f54;
}