* {
	margin: 0;
	padding: 0;
}

body{background:#ededed;}
.structure {
	width: 380px;
	margin: 0 auto;
}
img{border:0 none;}
.fix {
	overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   /* CSS rules */


   .header {margin: 0 auto;overflow: hidden; padding-left: 80px;}

   }

a {
	text-decoration: none;
}

.main {
	margin-bottom: -210px;
}

.header_area {
	background:#4FAF79;
	border-bottom:solid 1px #909090;
}

.main_body_area {
	background: url(/latest/img/login/bg.png)repeat;
	min-height: 800px;/*1000px;*/
	background-size: 75%;
}

.header {
	margin:0 auto;
	overflow:hidden;
	padding-left: 80px;
}

.main_body {
	margin-top: 0px;/*50px;*/
}

.main_body h2,.main_body h3 {
	font-family:"Segoe UI";
	text-align: center;
}

.main_body p {
	font-family: Segoe UI;
	margin-left: 0px;
	font-size: 15px;
}

.form_heading {
	background: #efefef;
	margin-top: 0px;/*20px;*/
	border: 2px solid #DFDFDF;
}

.form_heading img {
	padding: 20px 40px;
}

.footer {
	
	text-align: center;
}

.input {
	margin-top: 0px;/*20px;*/
	background: #efefef;
	padding: 10px;
	border: 2px solid #DFDFDF;
}

.input p {
	font-family: Segoe UI;
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 10px;
}

input[type="text"],input[type="password"],input[type="email"],textarea {
	border: 1px solid #CCCCCC;
	margin-bottom: 20px;
	padding: 10px;
	width: 333px;
}

.sign {
	width: 150px;
	margin-left: 100px;
}

#secured {
	 margin-left: 45px;
    margin-top: 10px;
    text-align: center;
}

.other {
	font-family: Segoe UI;
	font-size: 18px;
}

.system {
	
	font-family: Segoe UI;
}

.payroll_color{color: #B273BF;}
.inventory_color{color: #F08374;}
.crm_color{color: #F7C139;}

.system img {
	margin-right: 10px;
}
.footer_bottom_area{text-align:center;}

.Terms a {
	color: #4FAF79;
	font-family: Segoe UI;
	margin-right: 8px;
}

.ltd {
	color: #AAAAAA;
	font-family: Segoe UI;
	margin-left: 5px;
}

#user a {
	font-size: 20px;
}

.right {
	float: right;
	background: #e9e9e9;
	padding: 10px 25px 10px 10px;
	margin-top: -115px;/*-65px;*/
	border: 2px solid #CDCDCD;
	margin-right: -15px;
}

.right p {
	font-family: Segoe UI;
}
.link_color{color:#333;}
#sign{
	color: #105b32;
	font-weight: bold;
	font-size: 20px;
}
.footer_area{background:#F7F7F7;height:170px;/*205px;*/}
.footer_bottom_area{background:#F7F7F7;}

#submit{
	margin:0;
	text-decoration:none;
	padding:10px 40px;
	font-weight:bold;
	font-size:20px;
	font-family:"Segoe UI";
	display:block;
	color:#FFFFFF;
	border:1px solid #45EE95;
	background:none repeat scroll 0 0 #4FAF79;
}